
	<section class="register login">

        <form class="form" name="form" ng-class="{shake: error}" ng-submit="register()" novalidate> 

            <a class="btn-cancel" ng-click="cancel()">&times;</a>

            <header>
                <h2>Register</h2>
            </header> 

            <div class="field error" ng-show="error">
                Error
            </div> 
            
            <div class="field">
                <label for="username">Username</label> 
                <input type="text" id="username" name="username" placeholder="Your username" autocomplete="off" ng-model="user.username" ng-pattern="/^[a-zA-Z0-9]{6,16}$/" required> 

                <div ng-show="form.$submitted || form.username.$touched">
                  <span ng-show="form.username.$error.required">Please fill in the desired username.</span>
                  <span ng-show="form.username.$error.pattern">The username can only contain alpha numeric characters. Min 6, max 16 chars</span>
                </div>
            </div> 

            <div class="field">
                <label for="fullname">Full name</label> 
                <input type="text" id="fullname" name="fullname" placeholder="Your full name" autocomplete="off" ng-model="user.fullname" required> 

                 <div ng-show="form.$submitted || form.username.$touched">
                  <span ng-show="form.fullname.$error.required">Please fill in your name.</span>
                </div>
            </div> 

             <div class="field">
                <label for="email">Email</label> 
                <input type="email" id="email" name="email" placeholder="Email" autocomplete="off" ng-model="user.email" required> 

                <div ng-show="form.$submitted || form.email.$touched">
                  <span ng-show="form.email.$error.required">Tell us your email.</span>
                  <span ng-show="form.email.$error.email">This is not a valid email.</span>
                </div>
            </div> 

            <div class="divider">
                <span>Password</span>
              </div>

            <div class="field">
                <label for="password">Password</label> 
                <input type="password" id="password" name="password" placeholder="Password" autocomplete="off" ng-model="user.password" equals-validator="{{passwordretype}}" required> 
            </div> 

             <div class="field">
                <label for="passwordretype">Retype Password</label> 
                <input type="password" id="passwordretype" name="passwordretype" placeholder="Retype password" autocomplete="off" ng-model="passwordretype" required> 
            </div> 

            <div ng-show="form.$submitted || form.password.$touched">
                <span ng-show="form.password.$error.required">Password is required.</span>
            </div>
            <div ng-show="form.$submitted || form.passwordretype.$touched">
                <span ng-show="form.passwordretype.$error.required">Password retype is required.</span>
            </div>
            <div ng-show="form.$submitted ||  (form.password.$touched && form.passwordretype.$touched)">
                <span ng-show="form.password.$error.equalsValidator">Passwords did not match.</span>
            </div>

            <div class="field buttons">
                
                <button class="btn-login" type="submit">Register</button>
            </div>

        </form>
    </section>
