.admin-page {
  
  .filter{
    background-color: rgba(248, 180, 81, .8);
    padding: 8px 10px 8px 32px;

    input{
       width: 100%;
    }
  }

  ol.extended{
    border-radius: 0;
    color: #000;
    opacity: .8;
    overflow-y: auto;

    li{
      cursor: pointer;

      &.selected{
        background-color: #BFD2FC;
        cursor: default;
        pointer-events: none;
      }

      &.private{
        background: transparent url(../img/lock.png) no-repeat bottom right;
      }
    }
    
    .link-title{
      font-size: 1.6em;
      padding-bottom: 5px;
    }
    .tags{
      color: #999;
      font-size: .8em;
      padding-bottom: 0;

      .count{
        border: 1px solid #444;
        border-radius: 50%;
        display: inline-block;
        height: 2em;
        padding: 3px;
        text-align:center;
        width: 2em;
      }
    }
    .date{
      color: #999;
      font-size: .8em;
      padding-bottom: 0;
    }
  }

  .btn-launch{
    background: transparent;
    border: 2px solid #e74c3c;
    color: #fff;
    font-size: .5em;
    font-weight: 200;

    &:hover{
      background: rgba(231, 76, 60, .8);
    }
  }
}