
section.search{
  padding: 48px 16px;

  .search-links{
    padding: 16px;
    width: 100%;
  }
  .search-links-btn{
    font-weight: 600;
    max-width: 250px;
    min-width: 100px;
    padding: 18px;
    position: absolute;
    right: 0;
    width: 20%;

    &:hover{
      background: transparent;
      border-left: 1px solid transparent;
      color: $font-color;
    }
  }
}


.links-list{
  .link {
    background-color: #4082A0;
    border: 1px solid #fff;
    float: left;
    display: block;
    height: 100px;
    margin: 0;
    max-width: 280px;
    min-width: 150px;
    overflow: hidden;
    padding: 0 1% 1% 0;
    position: relative;
    text-align: left;
    transition: all 0.4s ease 0s ;
    width: 50%;
    z-index: 10;

    &:hover{
      transition-delay: .5s;
    }

    .title{
      color: #FFFFFF;
      font-size: 125%;
      padding-bottom: 0;

      @include wrap-ellipsis;
    }
    .url{
      color: #CECECE;
      cursor: pointer;
      font-size: 90%;
      transition: color .2s ease-in;

      :hover{
        color: #e4e4e4;
      }

      @include wrap-ellipsis;
    }
    

    &:hover{
      border: 1px solid rgba(255,255,255,1);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
      transform: scale(1.2,1.2);
      z-index: 100;

      .tags {
        opacity: .8;
        transform: translateY(8px);
        transition: transform 0.4s ease .5s, opacity 1s ease .5s;
      }
    }
  }

  .tags {
    background-color: #2C3F52;
    height: 50px;
    width: 100%;
    top: auto;
    left: 0;
    padding: 0 5px;
    position: absolute;
    bottom: 0;
    opacity: 0;
    transform: translateY(100%);
    backface-visibility: hidden;
    transition: transform 0.4s ease .5s, opacity 1s ease .5s;

    .tag{
      background-color: #eee;
      border: 1px solid #E5E5E5;
      cursor: pointer;
      display: inline;
      font-size: 50%;
      padding: 1px 4px;
      margin: 0 1px 2px;
      transition: all .2s ease-in;

      &:hover{
        border-color: #969696;
      }
    }
  }

  .link-body{
    padding: 10px;
    cursor: pointer;
  }

  .click-count{
    color: rgba(0, 0, 0, 0.2);
    font-size: 200%;
    position: absolute;
    right: 10px;
    top: -1px;
    z-index: 11;
  }
} 
