

.register{

	.activaton-code{
		border: none;
		border-bottom: 1px solid #999;
		background-color: transparent;
	}
	.field.buttons{
		text-align: center;
	}
	.submit-activation{
		font-size: 1.4em;
		margin-top: 10px;
	}
}