        <div ng-show="registered">

            <a class="btn-cancel" ng-click="cancel()">&times;</a>

            <header>
                <h2>Registered</h2>
            </header> 

            <p>Thanks for registering. A verification mail has been sent to your email {{user.email}}. Please use it to activate your account.</p>

             <div class="field error" ng-show="activationerror">
                {{activationerror}}
            </div>

            <p>Your activation code:</p>
            <div class="field">
                <input type="text" class="activaton-code" ng-model="activationCode" placeholder="goes here" />
                
            </div>

            <div class="field buttons">
                <button ng-show="activationCode" class="btn-flat-red submit-activation" ng-disabled="isSubmitting" ng-click="submitActivation(activationCode)">Activate</button>
            </div>

        </div>