
	<section class="add">

    <form method="post" name="form" ng-submit="submit()" class="add-form" novalidate>

      <div field type="text" label="'Title'" name="'title'" ng-model="link.title" required></div>
      <div field type="url" name="'url'" ng-model="link.url" required></div>
      <div field type="collection" name="'tags'" ng-model="link.tags" class="tags"></div>
      
      <div field type="boolean" name="'public'" label="'Is public link'" ng-model="link.ispublic" required></div>

      <div class="field">
        <a class="btn" ng-click="cancel()">Cancel</a>
        <button type="submit" class="btn-red" ng-disabled="form.$invalid">Submit</button>
      </div>

    </form>

  </section>