
	<section class="add">

    <form method="post" name="form" ng-submit="submit()" class="add-form" novalidate>

  		<div class="field">
        <label for="title">Title</label>
        <input type="text" id="title" placeholder="title" required autofocus ng-model="link.title" />
      </div>

      <div class="field">
        <label for="url">Url</label>
        <input type="url" id="url" name="url" placeholder="url" required ng-model="link.url"/>

         <div ng-show="form.$submitted || form.url.$touched" class="error">
           <span ng-show="form.url.$error.required">Please fill in link url</span>
           <span ng-show="form.url.$error.url">This is not a valid url</span>
         </div>
      </div>

      <div class="field">
        <label for="tag">Tags</label>
        <input type="tags" id="tag" placeholder="tag" ng-model="tag" ng-keydown="addTagWithKey(tag, $event)" />
        <button type="button" class="btn-circle btn-add-tag" ng-click="addTag(tag)" >+</button>
        <div class="field">
          <div class="tag" ng-repeat="tag in link.tags">
            {{tag}} 
            <span class="close">&times;</span>
          </div>
        </div>
      </div>

      <div class="field">
        <label>Is public link?</label>
        <div class="switch">
          <input id="toggle-2" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" ng-model="link.ispublic" ng-true-value="1">
          <label for="toggle-2"></label>
        </div>
      </div>

      <div class="field">

        <a class="btn-flat" ng-click="cancel()">Cancel</a>
        <button  type="submit" class="btn-flat-red">Submit</button>

      </div>

    </form>

  </section>