
	<section class="add">

    <form method="post" name="form" ng-submit="submit()" class="add-form" novalidate>

      <div field type="text" label="'Title'" name="'title'" ng-model="link.title" required></div>
      <div field type="url" name="'url'" ng-model="link.url" required></div>
    

      <div class="field">
        <label for="tag">Tags</label>
        <input type="tags" id="tag" placeholder="tag" ng-model="tag" ng-keydown="addTagWithKey(tag, $event)" />
        <button type="button" class="btn-circle btn-add-tag" ng-click="addTag(tag)" >+</button>
        <div class="field">
          <div class="tag" ng-repeat="tag in link.tags">
            {{tag}}
            <span class="close">&times;</span>
          </div>
        </div>
      </div>
      
      <div field type="boolean" name="'public'" label="'Is public link'" ng-model="link.ispublic" required></div>

      <div class="field">
        <a class="btn-flat" ng-click="cancel()">Cancel</a>
        <button type="submit" class="btn-flat-red" ng-disabled="form.$invalid">Submit</button>
      </div>

    </form>

  </section>