
	<section class="login">

        <form class="form" ng-class="{shake: error}" ng-submit="login()"> 

            <a class="btn-cancel" ng-click="cancel()">&times;</a>

            <header>
                <h2>Login</h2>
            </header> 

            <div class="field error" ng-show="error">
                Error signing in. Please try again...
            </div> 
            
            <div class="field">
                <label for="username">Username</label> 
                <input type="text" id="username" placeholder="username" autocomplete="off" ng-model="login.username" required> 
            </div> 

            <div class="field">
                <label for="password">Password</label> 
                <input type="password" id="password" placeholder="password" autocomplete="off" ng-model="login.password" required> 
            </div> 

            <div class="field buttons">
                <button class="btn-login" type="submit">Login</button>
            </div>

            <div class="field">
                 <a href="#register">Register</a>
            </div>

        </form>
    </section>
