
@import 'partials/reset';
@import 'partials/vars'; 
@import 'partials/mixins';

@import 'partials/fonts';
@import 'partials/defaults'; 

@import 'partials/forms';
@import 'partials/table';
@import 'partials/buttons';

@import 'partials/columns';
// @import 'partials/navigation';

@import 'partials/animations';


/*
 * Modules
 */
@import 'modules/links';


// TODO
.page{
	bottom:0;
	opacity: 1;
	position:absolute; 
	top:0;  
	width:100%; 
}
.page.ng-enter 			{ animation: slideInLeft 0.5s both ease-in; z-index: 8888; }
.page.ng-leave 			{ animation: slideOutLeft 0.5s both ease-in; z-index: 9999; }

.add-page.ng-enter  { animation: slideInRight 0.5s both ease-in; z-index: 8888;}
.add-page.ng-leave  { animation: slideOutRight 0.5s both ease-in; z-index: 9999;}
