
@import 'partials/reset';
@import 'partials/vars'; 
@import 'partials/mixins';

@import 'partials/fonts';
@import 'partials/defaults'; 

@import 'partials/forms';
@import 'partials/table';
@import 'partials/buttons';

@import 'partials/columns';
// @import 'partials/navigation';

@import 'partials/animations';


/*
 * Modules
 */
@import 'modules/links';
@import 'modules/login';

body{
  overflow: hidden;
}
// TODO
.page{
  background: url(../img/vinylstack.jpg) no-repeat center center fixed;
  background-size: cover;
	bottom:0;
	opacity: 1;
	position:absolute; 
	top:0;  
	width:100%; 
}
.page.ng-enter 			{ animation: slideInLeft 0.5s both ease-in; z-index: 10000; }
.page.ng-leave 			{ animation: slideOutLeft 0.5s both ease-in; z-index: 9999; }

.add-page.ng-enter  { animation: slideInRight 0.5s both ease-in; z-index: 8888;}
.add-page.ng-leave  { animation: slideOutRight 0.5s both ease-in; z-index: 9999;}
.add-page{
  background: url(../img/vinyl-scratch.jpg) no-repeat center center fixed;
  background-size: cover;
  color: #FFFFFF;
}

.settings-page.ng-enter{ animation: slideInUp 0.5s both ease-in; z-index: 8888;}
.settings-page.ng-leave{ animation: slideOutDown 0.5s both ease-in; z-index: 9999;}
.settings-page{
  background: url(../img/vinyl.jpg) no-repeat center center fixed;
  background-size: cover;
  color: #FFFFFF;

  textarea{
    background: rgba(255,255,255,.6);
  }
}