

<div class="col-30 full-screen">

  <div class="field filter">
    <input type="text" ng-model="filterlinks"placeholder="Filter:links"/>
  </div>
  <ol class="extended full-screen">
    <li ng-repeat="(index, link) in links | filter:filterlinks track by $index" ng-click="select(link.guid);" ng-class="{selected: selection.guid==link.guid}">
      <p class="link-title">{{link.title}}</p>

      <p class="url">{{link.url}}</p>
      <p class="tags">Tags: <span class="count">{{link.tags.length||0}}</span></p>
      <p class="date">{{link.timestamp | timestampFilter}}</p>

    </li>
  </ol>

</div>

<div class="col-70">
  
  <h1>{{selection.title}}</h1>


   <form method="post" name="form" ng-submit="save(selection)" novalidate>

      <div field type="text" label="'Title'" name="'title'" ng-model="selection.title" required></div>
      <div field type="url" name="'url'" ng-model="selection.url" required></div>
      <div field type="collection" name="'tags'" ng-model="selection.tags" class="tags" required></div>
     
      
      <div field type="boolean" name="'public'" label="'Is public link'" ng-model="selection.ispublic" required></div>

      <div class="field">
        <a class="btn-flat" ng-click="cancel()">Cancel</a>
        <button type="submit" class="btn-flat-red" ng-disabled="form.$invalid || form.$pristine">Submit</button>
      </div>
      
    </form>



  <div class="field buttons">
    <button class="btn-flat-red" ng-click="launch(selection)">Launch</button>
  </div>

  <div>

  </div>

  <h3>JSON</h3>
  <p><pre>{{selection | json:4}}</pre></p>

</div>

