

<div class="col-30 full-screen">

  <div class="field filter">
    <input type="text" ng-model="filterlinks"placeholder="Filter:links"/>
  </div>
  <ol class="extended full-screen">
    <li ng-repeat="(index, link) in links | filter:filterlinks track by $index" ng-click="select(link.guid);" ng-class="{selected: selection.guid==link.guid}">
      <p class="link-title">{{link.title}}</p>

      <p class="url">{{link.url}}</p>
      <p class="date">{{link.timestamp | timestampFilter}}</p>

    </li>
  </ol>

</div>

<div class="col-70">
  
  <h1>{{selection.title}}</h1>


  <div class="field">
    <label>Title</label>
    <span class="input" contenteditable ng-model="selection.title">{{selection.title}}<span>
  </div>

  <div class="field">
    <label>Url</label>
    <span class="input" contenteditable ng-model="selection.url">{{selection.url}}<span>
  </div>

  <div class="field buttons">
    <button class="btn-flat-red" ng-click="save(selection)">Save</button>
  </div>



  <div class="field buttons">
    <button class="btn-flat-red" ng-click="launch(selection)">Launch</button>
  </div>

  <div>

  </div>

  <h3>JSON</h3>
  <p><pre>{{selection | json:4}}</pre></p>

</div>

