
	<section class="search">

    <a href="#/settings" class="settings-btn"></a>

    <div class="add">
      <a href="#add" class="add-btn" title="Add a new link">+</a>
      <span class="add-label">Add a new link</span>
    </div>

		<div class="field">

      <input type="search" class="search-links" placeholder="search links here..." ng-model="searchLinks" ng-model-options="{ debounce: 300 }" autosave="searchLinks"/>
      <input type="button" class="btn-flat-red search-links-btn" value="Search" />

    </div>

	</section>

  <section class="list">

    <ul class="links-list">
      <li class="link" ng-repeat="link in links  | hideEmpty:searchLinks | filterLinks:searchLinks track by $index" ng-click="redirect(link)">  
          <div class="link-body img">
            <p class="title">{{link.title}}</p> 
            <p class="url">{{link.url}}</p>
          </div>  
          <div class="tags"> 
            <p class="tag" ng-click="clickTag(tag, $event)" ng-repeat="tag in link.tags track by $index">{{tag}}</p>  
          </div>
      </li>
    </ul>

  </section>